/* Setup */

@import "./setup/variables.scss";

/* Basics */
@import "./basics/base.scss";
@import "./basics/layout.scss";
@import "./basics/forms.scss";


/* pages */
@import '../../pages/Error/styles.scss';
@import '../../pages/NotFound/styles.scss';

/* Components */
@import "../../components/User/styles.scss";
@import "../../components/Todo/styles.scss";
