.user-card-container {
    padding: 1rem;
    border: 1px solid $clr-secondary;
    border-radius: 8px;
    cursor: pointer;
    background-color: $clr-secondary-light;
    transition: background-color 0.2s, border-color 0.2s;

    &:hover {
        border-color: $gray-700;
    }
    
    &.selected {
        background-color: $clr-primary-light;
        border-color: $gray-700;
    }

    .user-header {
        margin-block-end: 0.75rem;
        color: $text-main;

        .user-username {
            font-size: 1.2rem;
            margin: 0;
            font-weight: 600;
        }
        
        .user-name {
            margin: 0.25rem 0 0 0;
            font-size: 0.9rem;
        }
    }

}