.todo-list-container {
    margin-block-start: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: $clr-bg-light;
    box-shadow: $shadow-lg;
    position: relative;


    & > label {
        margin-block-end: 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-block-end: 1.5rem;
        opacity: 0.5;

        & > input {
            width: 1rem;
            height: 1rem;
        }

    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        li {
            background: rgba(255, 255, 255, 0.7);
            border-radius: $radius;
            padding: 0.8rem 1rem;
            display: flex;
            align-items: center;

            transition: transform 0.2s ease;

            &:hover {
                transform: translateY(-2px);
            }
            label {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                input {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}
.loading-msg {
    padding: 1rem;
    color: $gray-700;
    font-size: 0.75rem;
}

.error-msg {
    padding: 1rem;
    background: lighten($clr-primary-light, 15%);
    color: $clr-secondary;
    border-radius: $radius;
    font-size: 0.75rem;
}