/* ---- Primary Colors ---- */
$clr-primary: #B0C4B1;
$clr-primary-light: #E2B4BD;

$clr-secondary: #424B54;
$clr-secondary-light: #DEDBD2;


/* ---- Backgrounds ---- */
$clr-bg: #F9F9F9;
$clr-bg-alt: #93A8AC;
$clr-bg-light: #EFE7DD;

/* ---- Grays ---- */
$gray-100: #f0f0f0;
$gray-300: #9b9b9b;
$gray-700: #2c2c2c;

/* ---- Text ---- */
$text-main: #2c2c2c;
$text-light: #666;


/* ---- Borders & Radius ---- */
$radius: 4px;
$radius-lg: 8px;

/* Shadows */

$shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12);
$shadow-md: 0 4px 6px rgba(0, 0, 0, 0.12);
$shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.15);
$shadow-soft: 0 2px 12px rgba(0, 0, 0, 0.08);
$shadow-hover: 0 6px 18px rgba(0, 0, 0, 0.2);

// ---- Layout Columns ----
$layout-columns-mobile: 1rem 1fr 1rem;

$layout-columns-600: (
    minmax(20px, 1fr)
    minmax(auto, 1000px)
    minmax(20px, 1fr)
);

$layout-columns-1200: (
    minmax(20px, 1fr)
    minmax(auto, 1400px)
    minmax(20px, 1fr)
);
